.form-button {
  padding: 8px 16px;
  margin: 4px;
  background-color: #4CAF50; /* Green */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-button:hover {
  background-color: #45a049;
}
.financial-records-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  width: 900px;
  
}

.financial-records-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.financial-records-table th, .financial-records-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.financial-records-table th {
  background-color: #4CAF50;
  color: white;
}

.financial-records-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.financial-records-table tr:hover {
  background-color: #ddd;
}

.search-container {
  margin-bottom: 20px;
}

.search-container input {
  padding: 8px;
  width: 100%;
  max-width: 300px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 75%;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.pagination-container button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pagination-container button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.delete-button {
  background-color: #f44336; /* Red for Delete */
  padding: 8px 16px;
  margin: 4px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #d32f2f;
}

.update-button {
  background-color: #2196F3; /* Blue for Update */
  padding: 8px 16px;
  margin: 4px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.update-button:hover {
  background-color: #1976D2;
}
